# 8 May 2019 - Notes

## Print Output

In [131]:
print("Hello World")

Hello World

## Variable Assignment

In [1]:
var1 = 123
var2 = (var1 * var1) ** (23)
var3 = (var1 ** var1)

var3

114374367934617190099880295228066276746218078451850229775887975052369504785666896446606568365201542169649974727730628842345343196581134895919942820874449837212099476648958359023796078549041949007807220625356526926729664064846685758382803707100766740220839267

## Count Digits in a number

In [ ]:
print(len(str(var2)))

## Getting the data type

In [4]:
type(var3)
type("Python")

str

## String Slicing

In [26]:
str1 = "Python Programming"

str1[0] # Accessing the first character
str1[len(str1)-1] #printing the last character
str1[0:6] #Printing first 6 characters
str1[len(str1)-1::-1] #Reverse of a String
str1[0:len(str1):2] #Alternate characters
str1[5::-2] #Reverse Alternate characters
str1[7:] * 10 #repeating a string n times
print(str1[7:], end='\n')
print(str1[7:], end='\n')

Programming
Programming

## Lists

In [130]:
li = [123, 345, 'Python']
len(li) #Length of the list
li[2] #Accessing list elements
li[len(li)-1] = 'Programming'#Replacing an element in a list
li.append('Python') #Adding a new element to a list
#print(li)
li[2:]
li.pop() # removes the last element
li.remove(345) #removes the value
li.pop(0) #removes the element at the given index
li.insert(0, 123)
li.insert(1, 345)
li2 = [[1,2,3],[4,5,6],[7,8,9]]
li2.insert(3,[10,11,12])
li2.pop(3)
li2.remove([7,8,9])
li2 = [[1,2,3],[4,5,6,10],[7,8,9]]
li2[1].pop(3)
li.pop()
li.sort()
li.append(987)
li.append(534)
li.extend([765, 432, 999])
li.sort()
li

[123, 345, 432, 534, 765, 987, 999]

## Tuples

In [93]:
t1 = (123, 345, 567)
t1[2] + t1[1] #Accessing Elements in a Tuple

t1[len(t1)-1] #Last element of a Tuple

t1[1:3] 
str(t1[0])[1] + " " + str(t1[1])[1] + " " +str(t1[2])[1]
#Second character of all elements of a Tuple

#Reversing all characters of all elements 
#in a Tuple
t1 = (123, 345, 567)

str(t1[0])[2::-1] + str(t1[1])[2::-1] + str(t1[2])[2::-1]

'321543765'

## Reading Input from User

In [95]:
str1 = input()

str1

Python

'Python'

## Dictionaries

In [114]:
d1 = {'procedural':'C', 'Scripting':'Python', 'Functional':'Haskell'}

d1

d1['Scripting']

d1.values()
d1.keys()
d2 = {'Symbolic':'Mathematica', 'logic':'Prolog'}
d1.update(d2) #Merging two dictionaries

d1['ObjectOriented'] = 'Java' #Adding a new a element to the dictionary

d1['logic']

'Prolog'